[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
markdown = "*"
python-semantic-release = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
build = "python setup.py sdist bdist_wheel"
bump = "semantic-release version && twine upload dist/* && semantic-release publish"